*{
    margin: 0;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
}
:root {
    --backgroundColor: #222;
    --firstColor: #343a40;
    --secondColor: #3e444a;
    --tdHoverColor: #787878;
    --theadColor: #800;
}
body{
    background-color: var(--backgroundColor);
    height: 200vh;
}
/* Change appearance of header */
h2{
    color: red;
    font-weight: normal;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.first{
    padding-top: 80px;
}
article{
    width: 80vw;
}